/** @designer: add sass/scss rules here. Upon run-devmode they will be transpiled to css and automatically loaded into the application */

html,
body,
div,
p,
span,
a {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.person-view {
    overflow: auto;	
    background: #DFE6EC;

	header {
		&.form-field-wrapper {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			padding: 20px;
			box-sizing: border-box;
			position: relative;

			.filter-toolbar {
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				border: 1px solid rgba(0,0,0,0.1);
				border-radius: 4px;
				padding: 20px;
				box-sizing: border-box;
				-webkit-transition: 0.2s all;
			    -moz-transition: 0.2s all;
			    -o-transition: 0.2s all;
			    transition: 0.2s all;
			    background: #fff;
			    position: relative;

			    &:hover {
			    	box-shadow: 0 3px 5px rgba(0,0,0,0.15);

			    	.apply-filters {
			    		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
			    	}
			    }
			}

			.start-end-date {
				display: flex;
				width: 100%;
				text-align: center;
				justify-content: center;

				div {
					margin: 0 10px;

					label {
						display: block;
						font-size: 12px;
						font-weight: 600;
						text-align: left;
					}
				}
			}

			.apply-filters {
			    position: absolute;
			    bottom: -28px;
			    left: 50%;
			    transform: translate(-50%, 0%);
			    border: 1px solid rgba(0,0,0,.1);
			    background: #fff;
			    z-index: 2;
			    padding: 7px 15px 5px 15px;
			    font-size: 14px;
			    font-weight: 600;
			    display: inline-block;
			    border-radius: 4px;
			    cursor: pointer;
			    border-top: 0;
			    border-top-left-radius: 0;
			    border-top-right-radius: 0;
			    -webkit-transition: 0.2s all;
			    -moz-transition: 0.2s all;
			    -o-transition: 0.2s all;
			    transition: 0.2s all;	

			    &:focus,
			    &:hover {
					background: #1e252e;
					color: #fff;
			    }
			}
		}

		span {
			&.label {
				display: block;
				font-size: 12px;
				font-weight: 600;
				margin: 0 0 3px;
			}
		}

		.form-field {
			margin: 10px;
			background: #1e252e;
			padding: 5px;
			color: #fff;
			border-radius: 4px;

			input,
			select {
				min-width: 230px;
			}
		}

	}

	section {
		.controls {
			padding: 0 20px;
			box-sizing: border-box;
		}

		.grid-view,
		.table-view {

			> div {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}

			.cellListEvenItem,
			.cellListOddItem {
				border: 1px solid rgba(0,0,0,.1);
				background: #fff;
			    border-radius: 4px;
			    padding: 20px;
			    box-sizing: border-box;
			    -webkit-transition: 0.2s all;
			    -moz-transition: 0.2s all;
			    -o-transition: 0.2s all;
			    transition: 0.2s all;	
			    flex-grow: 1;
				max-width: 350px;
				width: 100%;
				margin: 15px 10px;

				&:hover {
			    	box-shadow: 0 3px 5px rgba(0,0,0,0.15);
			    }
			}
		}
	}
}